<div>
    <p><%= flash[:notice] %></p>
</div>
<div class="container">
    <div class="row mt-3">
        <%= render 'users/userinfo', user: @user %>
        <%= render 'new', book: @book %>
        <div class="col-md-8 offset-md-1">
            <h2>Book detail</h2>
            <table class="table">
                
                <tbody>
                    <tr>
                        <td>
                            <%= image_tag @user.get_profile_image(100,100) %></br>
                            <%= link_to @user.name,user_path(@user.id) %>
                        </td>
                        <td><%= link_to @aBook.title ,book_path(@aBook.id)%></td>
                        <td><%= @aBook.body %></td>
                        <% if current_user.id == @user.id %>
                            <td><%= link_to "Edit",edit_book_path(@aBook.id),class:"btn btn-success btn-sm" %></td>
                            <td><%= link_to "Destroy",book_path(@aBook.id),method: :delete, data: {confirm: "本当に消しますか？"},class:"btn btn-sm btn-danger" %></td>
                        <% end %>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>